.blogContainer
  h3.blogTitle #{titulos[1]}
  figure.blog-description1-imgContainer
    img(src=blogPrincipalurl alt="imagen blog Principal")
  div.blog-description
    h1 #{blogsName}
    p #{blogPrincipalText}
    a.btnblogs(href="blog.html") #{buttonvalue}